body {
    background-color: #2a2054;
}

.jumbotron, h1 {
    font-size: 75px;
    color: #2a2054;
    text-align: center;
}

hr {
    height:1px; 
    border:none; 
    color:#e9ecef; 
    background-color:#e9ecef;
}

.col-md-4 {
    color: #e9ecef;
    text-align: center;
    align-items: stretch;
}